<div class="search_results">
    <h4>Results</h4>
</div>

<div class="latest_recipe">
<%if(typeof recipes !== 'undefined' && recipes.length > 0){%>
    <%recipes.forEach((recipe)=>{%>
   <a href="/recipe/<%=recipe._id%>" class="latest_recipe_link">
    <div class="latest_recipe_img">
        <img src="/imgs_recipe/<%=recipe.image%>" alt="<%=recipe.name%>">
    </div>
    <div class="latest_recipe_name"><%=recipe.name%></div>
 </a>
   <%})%>
  <%} else{%>
    <p>No Recipes</p>
 <%}%>
 </div>